main
{
  width: 100%;
  padding: 0;
}

h1
{
  margin: 0.65rem auto 0.5rem 1.25rem;
}

h2
{
  margin: 5% 0 2.5% 0;
}

.subtitle
{
  margin: 0.65rem 1rem 1rem 1.25rem;
}

.searcharea
{
  margin: 2.5rem 1.25rem 2rem 1.25rem;
  width: 20.8125rem
}

.searchfield, .searchfield:active, .searchfield:focus
{
  width: 14.375rem;  
}

.searchbutton, .searchbutton:active, .searchbutton:focus
{
  width: 4rem;
  border-radius: 0.875rem 0.875rem 0.875rem 0.875rem;
  margin-right: -0.4rem;
}

.zoomicon
{
  display: inline;
}

.searchtext
{
  display: none;
}

.filters
{
  margin: 1.25rem auto 1.25rem 1.25rem;
}

.filterbutton
{
  margin: 0 0.406rem 0.688rem 0;
}

.filtertext
{
  display: block;
  margin-bottom: 1rem;
}

.searchinfo
{
  margin-left: 1.25rem;
}

.textinfo
{
  line-height: 1.3rem;
}

.popular
{
  border-radius: 0;
  padding: 0;
}

.accommodations
{
  background-color: unset;
  border-radius: 0;
  padding: 0;
}

.accommodations-title, .activities-title
{
  margin: 9% auto 6% 6%;
}

.fa-chart-line
{
  margin-right: 0;
}

.accommodation-cards
{
  justify-content: center;
}

.accommodation-card
{
  width: 20.875rem;
  margin-bottom: 0.75rem;
}

.accommodation-card img
{
  width: 20.3125rem;
}

.showmore
{
  margin: 5%;
}

.activities
{
  order: 3;
}

.activities-cards
{
  justify-content: center;
  margin: auto;
}

.pop-card:hover, .accommodation-card:hover, .activities-card:hover
{
  transform: unset;
}

.pop-title
{
  margin: 5%;
}

.pop-card
{
  margin: 1.25rem;
}

.activities-card
{
  width: 20.875rem;
}

.activities-card img, .activities-card.xlimg img, 
.activities-card.largeimg img, .activities-card.mediumimg img, 
.activities-card.smallimg img, .activities-card.xsmallimg img
{
  width: 20.875rem;
  height: 8.375rem;
  transform: unset;
}

.activities-card.largeimg img
{
  object-position: 50% 42%;
}

.activities-card.xlimg img
{
  object-position: 50% 20%;
}

.activities-card.smallimg img
{
  object-position: 50% 15%;
}

.activities-card.mediumimg img
{
  object-position: 50% 25%;
}

.zoom
{
  height: unset;
}

footer
{
  flex-direction: column;
  margin: 1.5rem auto auto auto;
  padding: 0.5rem 0 3rem 0.5rem;
}

footer article
{
  margin-top: 1.5rem;
}